* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 200px;
  height: 100vh;

  font-family: 'Cinzel', serif;
  
  text-align: center;

  background-image: url(https://i.imgur.com/tEwAwwg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
}

h1 {
  font-family: 'Cinzel', serif;
  color: #151718;
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
}

h1 span {
  color: #32d33a;
}

p {
  font-family: 'Inter', sans-serif;

  color: #151718;
  opacity: 1;

  margin-top: 4px;
  margin-bottom: 72px;

  line-height: 24px;

  font-weight: 400;
  font-size: 20px;
}

a {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;

  padding: 16px 32px;

  margin: 0px 8px;

  text-decoration: none;
}


a:hover, .btn-primary {
  background-color: #32d33a;
  border-radius: 80px;
  text-decoration: none;
  opacity: 1;
  color: #ffffff;
  transition: 70ms;
}